body {
  background-color: #323231;
  margin: 0;
  display: flow-root;
}

#groc-container {
  color: #323231;
  background-color: #fff;
  height: auto;
  width: 23.1em;
  padding: 30px;

  margin: 0 auto;
  margin-top: 8rem;

  border-radius: 2px;
  transition: 0.3s;
}

h2 {
  text-align: center;
}
button {
  width: 5em;
}
.list {
  border: none;
  pointer-events: none;
  background: none;
  /* width: 305px; */
  color: #323231;
  font-size: medium;
}

.submit-btn {
  background-color: #6be675;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  letter-spacing: 2px;
  padding: 5px;
  border-radius: 0px 5px 5px 0px;
  width: 7em;
}
.submit-btn:hover {
  background-color: #25bb32;
  color: #fff;
}

#input-container {
  padding-bottom: 20px;
}
.form,
#list-container {
  display: flex;
}

.list-container-list {
  width: -webkit-fill-available;
}

.item-list {
  transition: 0.2s;
  background: #fff;
}

.task-input {
  width: -webkit-fill-available !important;
  color: #323231;
  background-color: whitesmoke;
  font-size: medium;
}

svg {
  width: 1.2em;
  height: 1.2em;
}

.task-btn {
  font-size: 2em;
}

.task-input,
.list {
  padding: 5px 10px;
}

#delete-all-btn {
  background: none;
  color: #fff;
  background-color: #e66b6b;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  font: inherit;
  outline: inherit;
  width: -webkit-fill-available;
}
#delete-all-btn:hover {
  transition: 0.3s;
  background-color: #bb2525;
}

.btn-container {
  display: inline-block;
}
#dabtn-container {
  margin-top: 30px;
  text-align: center;
}

.item-list:hover {
  background: #f3f3f3;
  transition: 0.2s;
}

#edit-icon,
#trash-icon {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  font-size: 0.7rem;
  margin: 0 0.15rem;
  width: auto;
  font-size: small !important;
}
li {
  list-style-type: none;
}

.list-wrapper {
  margin: 10px 0px;
}

#edit-icon,
#trash-icon {
  transition: 0.3s;
}

#edit-icon {
  color: #fff;
  background-color: #6be675;
}

#trash-icon {
  color: #fff;
  background-color: #e66b6b;
}

#edit-icon:hover {
  background-color: #25bb32;
}

#trash-icon:hover {
  background-color: #bb2525;
}

.alert-danger {
  color: #721c24;
  background: #f8d7da;
  text-align: center;
  padding: 5px;
}

.alert-success {
  color: #155724;
  background: #d4edda;
  text-align: center;
  padding: 5px;
}

.alert-warning {
  color: #c0a718;
  background: #f3ebc6;
  text-align: center;
  padding: 5px;
}
