body {
  background-color: #323231;
}

#groc-container {
  background-color: #fff;
  width: 20em;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  top: 10em;
  position: relative;
  padding: 30px;
  border-radius: 2px;
}

h2 {
  text-align: center;
}

.list {
  border: none;
  pointer-events: none;
  background: none;
  width: 235px;
}

.submit-btn {
  background-color: #a5d5f8;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  letter-spacing: 2px;
  padding: 5px;
  border-radius: 0px 5px 5px 0px;
  width: 7em;
}
.submit-btn:hover {
  background-color: #49a6e9;
  color: #fff;
}

#input-container {
  padding-bottom: 20px;
}
.form,
#list-container {
  display: flex;
}

.list-container-list {
  width: -webkit-fill-available;
}

.item-list {
  transition: 0.2s;
  background: #fff;
}

.task-input {
  width: -webkit-fill-available !important;
}

svg{
  width: 1.2em;
  height: 1.2em;
}

.task-btn{
  width: 20px;
  height: 20px;
}

.task-input,
.list {
  padding: 5px 10px;
}

#delete-all-btn {
  background: none;
  color: #e66b6b;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  padding: 0;
  font: inherit;
  outline: inherit;
}
#delete-all-btn:hover {
  transition: 0.3s;
  color: #bb2525;
}

.btn-container {
  display: inline-block;
}
#dabtn-container {
  margin-top: 30px;
  text-align: center;
}

.item-list:hover {
  background: #f3f3f3;
  transition: 0.2s;
}

#edit-icon,
#trash-icon {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  font-size: 0.7rem;
  margin: 0 0.15rem;
}
li {
  list-style-type: none;
}

.list-wrapper{
  margin: 10px 0px;
}

#edit-icon,
#trash-icon {
  transition: 0.3s;
}

#edit-icon {
  color: #6be675;
}

#trash-icon {
  color: #e66b6b;
}

#edit-icon:hover {
  color: #25bb32;
}

#trash-icon:hover {
  color: #bb2525;
}
