body{
  background-color: #323231;
}

#groc-container{
  background-color: #fff;
  width: 20em;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  top: 10em;
  position:relative;
  padding:50px;
  border-radius: 2px;
}

h2{
  padding-bottom: 20px;
  text-align: center;
}

.list{
  border: none;
  pointer-events: none;
  background: none;
}


#input-container{
  padding-bottom: 20px;
}
.form, #list-container{
  display: flex;
}

.item-list{
  transition: .2s;
  background: #fff;
  width: -webkit-fill-available;
}

#task-input{
  width: -webkit-fill-available;
}

.task-input, .list{
  padding: 2px 10px;
}

.item-list:hover{
  background: #f3f3f3;
  transition: .2s;
}

#edit-icon,
#trash-icon {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  font-size: 0.7rem;
  margin: 0 0.15rem;
}
li{
  list-style-type: none;
}
.btn-container{
  display: inline-block;
}

#edit-icon, #trash-icon{
  transition: .3s;
}

#edit-icon{
  color:  hsl(125, 71%, 66%);
}

#trash-icon{
color: hsl(360, 71%, 66%);
}

#edit-icon:hover{
  color: hsl(125, 67%, 44%);
}

#trash-icon:hover{
color:  hsl(360, 67%, 44%);
}